
[data-theme="dark"] {
  --background-color: #333e47;
  --switch-color: white;
  --img: url(../cedorax_logo_white.png)
}

[data-theme="light"] {
  --background-color: white;
  --switch-color: #333e47;
  --img: url(../cedorax_logo.png)
}

.top {
background-color: var(--background-color);
position: fixed;
width: 100%;
top: 0;
z-index: 9;
border-bottom: 1px solid #e0e0e0;
}

.nav_top {
 align-content: center;
 align-items: center;
 background: var(--img) no-repeat center left;
 background-size: 250px;
  position: relative;
 white-space: nowrap;
 width: 1200px;
 height: 150px;
 margin: 0 auto;

}

.block {
  width: 100%;
  height: 150px;
}

.mode_switch {
  position: absolute;
  right: 20px;
  top:20px;
}

.credit{
position:absolute;
color: var(--switch-color);
font-family: 'Lato', sans-serif;
font-weight: 500;
font-size: 20px;
right: 0;
bottom: 40%;

}

.mode_switch * span{
  color: var(--switch-color);
}